* {
  box-sizing: border-box;
}

body {
  background-color: #274471;
  font-family: "Lato", sans-serif;
}
.container {
  width: 400px;
  margin: 0 auto;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px 25px 25px 25px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px 0 16px 0;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 8px;
  resize: vertical;
}
input[type="submit"] {
  width: 100%;
  background-color: #1ac0f3;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #6fe8d7;
}
